@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>User Name Form</h2>
    <form method="post">
        <p>
        <label>Email:</label><br />
            <input 
                type="email" 
                placeholder="user@gmail.com" 
                id="Email"
                name="Email" /><br />
        </p>
        
        <p>
        
            <label 
                for="Message">
                Message:
            </label><br />

            <textarea 
                class="Message"
                name="Message" 
                id="Message" 
                placeholder="Не более 200 символов"
                maxlength="200"></textarea>
        </p>

        <p>
        <input 
            type="submit" 
            value="Send" />
        </p>

    </form>

</div>
